<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>EcodingFilter</filter-name>
		<display-name>EcodingFilter</display-name>
		<description></description>
		<filter-class>exam.filter.EcodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>PermissionFilter</filter-name>
		<display-name>PermissionFilter</display-name>
		<description></description>
		<filter-class>exam.filter.PermissionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EcodingFilter</filter-name>
		<url-pattern>/EcodingFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PermissionFilter</filter-name>
		<url-pattern>/PermissionFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>exam.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FilmServlet</servlet-name>
		<display-name>FilmServlet</display-name>
		<description></description>
		<servlet-class>exam.servlet.FilmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilmServlet</servlet-name>
		<url-pattern>/FilmServlet</url-pattern>
	</servlet-mapping>

</web-app>
